c0 = "#{{base00-hex}}"
c1 = "#{{base01-hex}}"
c2 = "#{{base02-hex}}"
c3 = "#{{base03-hex}}"
c4 = "#{{base04-hex}}"
c5 = "#{{base05-hex}}"
c6 = "#{{base06-hex}}"
c7 = "#{{base07-hex}}"
c8 = "#{{base08-hex}}"
c9 = "#{{base09-hex}}"
cA = "#{{base0A-hex}}"
cB = "#{{base0B-hex}}"
cC = "#{{base0C-hex}}"
cD = "#{{base0D-hex}}"
cE = "#{{base0E-hex}}"
cF = "#{{base0F-hex}}"
