#Bashtop theme with default colors and black background
#by aristocratos

# Colors should be in 6 or 2 character hexadecimal or single spaced rgb decimal: "#RRGGBB", "#BW" or "0-255 0-255 0-255"
# example for white: "#FFFFFF", "#ff" or "255 255 255".

# All graphs and meters can be gradients
# For single color graphs leave "mid" and "end" variable empty.
# Use "start" and "end" variables for two color gradient
# Use "start", "mid" and "end" for three color gradient

# Main background, empty for terminal default, need to be empty if you want transparent background
theme[main_bg]="#{{base00-hex}}"

# Main text color
theme[main_fg]="#{{base05-hex}}"

# Title color for boxes
theme[title]="#{{base05-hex}}"

# Highlight color for keyboard shortcuts
theme[hi_fg]="#{{base03-hex}}"

# Background color of selected item in processes box
theme[selected_bg]="#{{base01-hex}}"

# Foreground color of selected item in processes box
theme[selected_fg]="#{{base05-hex}}"

# Color of inactive/disabled text
theme[inactive_fg]="#{{base02-hex}}"

# Color of text appearing on top of graphs, i.e uptime and current network graph scaling
theme[graph_text]="#{{base03-hex}}"

# Background color of the percentage meters
theme[meter_bg]="#{{base01-hex}}"

# Misc colors for processes box including mini cpu graphs, details memory graph and details status text
theme[proc_misc]="#{{base0C-hex}}"

# Cpu box outline color
theme[cpu_box]="#{{base02-hex}}"

# Memory/disks box outline color
theme[mem_box]="#{{base02-hex}}"

# Net up/down box outline color
theme[net_box]="#{{base02-hex}}"

# Processes box outline color
theme[proc_box]="#{{base02-hex}}"

# Box divider line and small boxes line color
theme[div_line]="#{{base02-hex}}"

# Process box color gradient for threads, mem and cpu usage
theme[process_start]="#{{base0B-hex}}"
theme[process_mid]="#{{base09-hex}}"
theme[process_end]="#{{base08-hex}}"

# Temperature graph colors
theme[temp_start]="#{{base0D-hex}}"
theme[temp_mid]="#{{base0E-hex}}"
theme[temp_end]="#{{base08-hex}}"

# CPU graph colors
theme[cpu_start]="#{{base0B-hex}}"
theme[cpu_mid]="#{{base09-hex}}"
theme[cpu_end]="#{{base08-hex}}"

# Mem/Disk free meter
theme[free_start]="#{{base0B-hex}}"
theme[free_mid]=""
theme[free_end]=""

# Mem/Disk cached meter
theme[cached_start]="#{{base0E-hex}}"
theme[cached_mid]=""
theme[cached_end]=""

# Mem/Disk available meter
theme[available_start]="#{{base0D-hex}}"
theme[available_mid]=""
theme[available_end]=""

# Mem/Disk used meter
theme[used_start]="#{{base09-hex}}"
theme[used_mid]=""
theme[used_end]=""

# Download graph colors
theme[download_start]="#{{base0D-hex}}"
theme[download_mid]=""
theme[download_end]=""

# Upload graph colors
theme[upload_start]="#{{base0E-hex}}"
theme[upload_mid]=""
theme[upload_end]=""
