export c0="\033[38;2;{{base00-rgb-r}};{{base00-rgb-g}};{{base00-rgb-b}}m"
export c1="\033[38;2;{{base01-rgb-r}};{{base01-rgb-g}};{{base01-rgb-b}}m"
export c2="\033[38;2;{{base02-rgb-r}};{{base02-rgb-g}};{{base02-rgb-b}}m"
export c3="\033[38;2;{{base03-rgb-r}};{{base03-rgb-g}};{{base03-rgb-b}}m"
export c4="\033[38;2;{{base04-rgb-r}};{{base04-rgb-g}};{{base04-rgb-b}}m"
export c5="\033[38;2;{{base05-rgb-r}};{{base05-rgb-g}};{{base05-rgb-b}}m"
export c6="\033[38;2;{{base06-rgb-r}};{{base06-rgb-g}};{{base06-rgb-b}}m"
export c7="\033[38;2;{{base07-rgb-r}};{{base07-rgb-g}};{{base07-rgb-b}}m"
export c8="\033[38;2;{{base08-rgb-r}};{{base08-rgb-g}};{{base08-rgb-b}}m"
export c9="\033[38;2;{{base09-rgb-r}};{{base09-rgb-g}};{{base09-rgb-b}}m"
export cA="\033[38;2;{{base0A-rgb-r}};{{base0A-rgb-g}};{{base0A-rgb-b}}m"
export cB="\033[38;2;{{base0B-rgb-r}};{{base0B-rgb-g}};{{base0B-rgb-b}}m"
export cC="\033[38;2;{{base0C-rgb-r}};{{base0C-rgb-g}};{{base0C-rgb-b}}m"
export cD="\033[38;2;{{base0D-rgb-r}};{{base0D-rgb-g}};{{base0D-rgb-b}}m"
export cE="\033[38;2;{{base0E-rgb-r}};{{base0E-rgb-g}};{{base0E-rgb-b}}m"
export cF="\033[38;2;{{base0F-rgb-r}};{{base0F-rgb-g}};{{base0F-rgb-b}}m"

export c0b="\033[48;2;{{base00-rgb-r}};{{base00-rgb-g}};{{base00-rgb-b}}m"
export c1b="\033[48;2;{{base01-rgb-r}};{{base01-rgb-g}};{{base01-rgb-b}}m"
export c2b="\033[48;2;{{base02-rgb-r}};{{base02-rgb-g}};{{base02-rgb-b}}m"
export c3b="\033[48;2;{{base03-rgb-r}};{{base03-rgb-g}};{{base03-rgb-b}}m"
export c4b="\033[48;2;{{base04-rgb-r}};{{base04-rgb-g}};{{base04-rgb-b}}m"
export c5b="\033[48;2;{{base05-rgb-r}};{{base05-rgb-g}};{{base05-rgb-b}}m"
export c6b="\033[48;2;{{base06-rgb-r}};{{base06-rgb-g}};{{base06-rgb-b}}m"
export c7b="\033[48;2;{{base07-rgb-r}};{{base07-rgb-g}};{{base07-rgb-b}}m"
export c8b="\033[48;2;{{base08-rgb-r}};{{base08-rgb-g}};{{base08-rgb-b}}m"
export c9b="\033[48;2;{{base09-rgb-r}};{{base09-rgb-g}};{{base09-rgb-b}}m"
export cAb="\033[48;2;{{base0A-rgb-r}};{{base0A-rgb-g}};{{base0A-rgb-b}}m"
export cBb="\033[48;2;{{base0B-rgb-r}};{{base0B-rgb-g}};{{base0B-rgb-b}}m"
export cCb="\033[48;2;{{base0C-rgb-r}};{{base0C-rgb-g}};{{base0C-rgb-b}}m"
export cDb="\033[48;2;{{base0D-rgb-r}};{{base0D-rgb-g}};{{base0D-rgb-b}}m"
export cEb="\033[48;2;{{base0E-rgb-r}};{{base0E-rgb-g}};{{base0E-rgb-b}}m"
export cFb="\033[48;2;{{base0F-rgb-r}};{{base0F-rgb-g}};{{base0F-rgb-b}}m"

export c0_h="#{{base00-hex}}"
export c1_h="#{{base01-hex}}"
export c2_h="#{{base02-hex}}"
export c3_h="#{{base03-hex}}"
export c4_h="#{{base04-hex}}"
export c5_h="#{{base05-hex}}"
export c6_h="#{{base06-hex}}"
export c7_h="#{{base07-hex}}"
export c8_h="#{{base08-hex}}"
export c9_h="#{{base09-hex}}"
export cA_h="#{{base0A-hex}}"
export cB_h="#{{base0B-hex}}"
export cC_h="#{{base0C-hex}}"
export cD_h="#{{base0D-hex}}"
export cE_h="#{{base0E-hex}}"
export cF_h="#{{base0F-hex}}"
