[c]
0 = #{{base00-hex}}
1 = #{{base01-hex}}
2 = #{{base02-hex}}
3 = #{{base03-hex}}
4 = #{{base04-hex}}
5 = #{{base05-hex}}
6 = #{{base06-hex}}
7 = #{{base07-hex}}
8 = #{{base08-hex}}
9 = #{{base09-hex}}
A = #{{base0A-hex}}
B = #{{base0B-hex}}
C = #{{base0C-hex}}
D = #{{base0D-hex}}
E = #{{base0E-hex}}
F = #{{base0F-hex}}
