# Base16 {{scheme-name}} - alacritty color config
# {{scheme-author}}
colors:
  # Default colors
  primary:
    background: '0x{{base00-hex}}'
    foreground: '0x{{base05-hex}}'

  # Normal colors
  normal:
    black:   '0x{{base01-hex}}'
    red:     '0x{{base08-hex}}'
    green:   '0x{{base0B-hex}}'
    yellow:  '0x{{base0A-hex}}'
    blue:    '0x{{base0D-hex}}'
    magenta: '0x{{base0E-hex}}'
    cyan:    '0x{{base0C-hex}}'
    white:   '0x{{base05-hex}}'

  # Bright colors
  bright:
    black:   '0x{{base03-hex}}'
    red:     '0x{{base0B-hex}}'
    green:   '0x{{base09-hex}}'
    yellow:  '0x{{base0F-hex}}'
    blue:    '0x{{base0C-hex}}'
    magenta: '0x{{base0D-hex}}'
    cyan:    '0x{{base0E-hex}}'
    white:   '0x{{base07-hex}}'
