local c0 = "#{{base00-hex}}"
local c1 = "#{{base01-hex}}"
local c2 = "#{{base02-hex}}"
local c3 = "#{{base03-hex}}"
local c4 = "#{{base04-hex}}"
local c5 = "#{{base05-hex}}"
local c6 = "#{{base06-hex}}"
local c7 = "#{{base07-hex}}"
local c8 = "#{{base08-hex}}"
local c9 = "#{{base09-hex}}"
local cA = "#{{base0A-hex}}"
local cB = "#{{base0B-hex}}"
local cC = "#{{base0C-hex}}"
local cD = "#{{base0D-hex}}"
local cE = "#{{base0E-hex}}"
local cF = "#{{base0F-hex}}"
