set -x c0 "\033[38;2;{{base00-rgb-r}};{{base00-rgb-g}};{{base00-rgb-b}}m"
set -x c1 "\033[38;2;{{base01-rgb-r}};{{base01-rgb-g}};{{base01-rgb-b}}m"
set -x c2 "\033[38;2;{{base02-rgb-r}};{{base02-rgb-g}};{{base02-rgb-b}}m"
set -x c3 "\033[38;2;{{base03-rgb-r}};{{base03-rgb-g}};{{base03-rgb-b}}m"
set -x c4 "\033[38;2;{{base04-rgb-r}};{{base04-rgb-g}};{{base04-rgb-b}}m"
set -x c5 "\033[38;2;{{base05-rgb-r}};{{base05-rgb-g}};{{base05-rgb-b}}m"
set -x c6 "\033[38;2;{{base06-rgb-r}};{{base06-rgb-g}};{{base06-rgb-b}}m"
set -x c7 "\033[38;2;{{base07-rgb-r}};{{base07-rgb-g}};{{base07-rgb-b}}m"
set -x c8 "\033[38;2;{{base08-rgb-r}};{{base08-rgb-g}};{{base08-rgb-b}}m"
set -x c9 "\033[38;2;{{base09-rgb-r}};{{base09-rgb-g}};{{base09-rgb-b}}m"
set -x cA "\033[38;2;{{base0A-rgb-r}};{{base0A-rgb-g}};{{base0A-rgb-b}}m"
set -x cB "\033[38;2;{{base0B-rgb-r}};{{base0B-rgb-g}};{{base0B-rgb-b}}m"
set -x cC "\033[38;2;{{base0C-rgb-r}};{{base0C-rgb-g}};{{base0C-rgb-b}}m"
set -x cD "\033[38;2;{{base0D-rgb-r}};{{base0D-rgb-g}};{{base0D-rgb-b}}m"
set -x cE "\033[38;2;{{base0E-rgb-r}};{{base0E-rgb-g}};{{base0E-rgb-b}}m"
set -x cF "\033[38;2;{{base0F-rgb-r}};{{base0F-rgb-g}};{{base0F-rgb-b}}m"
set -x c0b "\033[48;2;{{base00-rgb-r}};{{base00-rgb-g}};{{base00-rgb-b}}m"
set -x c1b "\033[48;2;{{base01-rgb-r}};{{base01-rgb-g}};{{base01-rgb-b}}m"
set -x c2b "\033[48;2;{{base02-rgb-r}};{{base02-rgb-g}};{{base02-rgb-b}}m"
set -x c3b "\033[48;2;{{base03-rgb-r}};{{base03-rgb-g}};{{base03-rgb-b}}m"
set -x c4b "\033[48;2;{{base04-rgb-r}};{{base04-rgb-g}};{{base04-rgb-b}}m"
set -x c5b "\033[48;2;{{base05-rgb-r}};{{base05-rgb-g}};{{base05-rgb-b}}m"
set -x c6b "\033[48;2;{{base06-rgb-r}};{{base06-rgb-g}};{{base06-rgb-b}}m"
set -x c7b "\033[48;2;{{base07-rgb-r}};{{base07-rgb-g}};{{base07-rgb-b}}m"
set -x c8b "\033[48;2;{{base08-rgb-r}};{{base08-rgb-g}};{{base08-rgb-b}}m"
set -x c9b "\033[48;2;{{base09-rgb-r}};{{base09-rgb-g}};{{base09-rgb-b}}m"
set -x cAb "\033[48;2;{{base0A-rgb-r}};{{base0A-rgb-g}};{{base0A-rgb-b}}m"
set -x cBb "\033[48;2;{{base0B-rgb-r}};{{base0B-rgb-g}};{{base0B-rgb-b}}m"
set -x cCb "\033[48;2;{{base0C-rgb-r}};{{base0C-rgb-g}};{{base0C-rgb-b}}m"
set -x cDb "\033[48;2;{{base0D-rgb-r}};{{base0D-rgb-g}};{{base0D-rgb-b}}m"
set -x cEb "\033[48;2;{{base0E-rgb-r}};{{base0E-rgb-g}};{{base0E-rgb-b}}m"
set -x cFb "\033[48;2;{{base0F-rgb-r}};{{base0F-rgb-g}};{{base0F-rgb-b}}m"
set -x c0_h "#{{base00-hex}}"
set -x c1_h "#{{base01-hex}}"
set -x c2_h "#{{base02-hex}}"
set -x c3_h "#{{base03-hex}}"
set -x c4_h "#{{base04-hex}}"
set -x c5_h "#{{base05-hex}}"
set -x c6_h "#{{base06-hex}}"
set -x c7_h "#{{base07-hex}}"
set -x c8_h "#{{base08-hex}}"
set -x c9_h "#{{base09-hex}}"
set -x cA_h "#{{base0A-hex}}"
set -x cB_h "#{{base0B-hex}}"
set -x cC_h "#{{base0C-hex}}"
set -x cD_h "#{{base0D-hex}}"
set -x cE_h "#{{base0E-hex}}"
set -x cF_h "#{{base0F-hex}}"
