user_pref("ui.textHighlightBackground", "#{{base03-hex}}"); // search results
user_pref("ui.textHighlightForeground", "#{{base00-hex}}");
user_pref("ui.textSelectAttentionBackground", "#{{base0B-hex}}"); // selected search
user_pref("ui.textSelectAttentionForeground", "#{{base00-hex}}");
