* {
    urgent:                         #{{base0F-hex}};
    active:                         #{{base0C-hex}};
    selected:                       #{{base02-hex}};
    lightbg:                        #{{base01-hex}};
    foreground:                     #{{base05-hex}};
    background:                     #{{base00-hex}};
    background-color:               #{{base00-hex}};
    separatorcolor:                 #{{base03-hex}};
    border-color:                   #{{base03-hex}};
    selected-normal-foreground:     #{{base05-hex}};
    selected-normal-background:     @selected;
    selected-active-foreground:     @background;
    selected-active-background:     @active;
    selected-urgent-foreground:     @background;
    selected-urgent-background:     @urgent;
    normal-foreground:              @foreground;
    normal-background:              @background;
    active-foreground:              @active;
    active-background:              @background;
    urgent-foreground:              @urgent;
    urgent-background:              @background;
    alternate-normal-foreground:    @foreground;
    alternate-normal-background:    @lightbg;
    alternate-active-foreground:    @active;
    alternate-active-background:    @lightbg;
    alternate-urgent-foreground:    @urgent;
    alternate-urgent-background:    @lightbg;
}
