[base16_low]
    msg_urgency = low
    background = "#{{base00-hex}}"
    foreground = "#{{base05-hex}}"
    frame_color = "#{{base0D-hex}}"
    separator_color = "#{{base0D-hex}}"

[base16_normal]
    msg_urgency = normal
    background = "#{{base00-hex}}"
    foreground = "#{{base05-hex}}"
    frame_color = "#{{base03-hex}}"
    separator_color = "#{{base03-hex}}"

[base16_critical]
    msg_urgency = critical
    background = "#{{base00-hex}}"
    foreground = "#{{base05-hex}}"
    frame_color = "#{{base08-hex}}"
    separator_color = "#{{base08-hex}}"
