c0: &c0 {{base00-hex}}ff
c1: &c1 {{base01-hex}}ff
c2: &c2 {{base02-hex}}ff
c3: &c3 {{base03-hex}}ff
c4: &c4 {{base04-hex}}ff
c5: &c5 {{base05-hex}}ff
c6: &c6 {{base06-hex}}ff
c7: &c7 {{base07-hex}}ff
c8: &c8 {{base08-hex}}ff
c9: &c9 {{base09-hex}}ff
cA: &cA {{base0A-hex}}ff
cB: &cB {{base0B-hex}}ff
cC: &cC {{base0C-hex}}ff
cD: &cD {{base0D-hex}}ff
cE: &cE {{base0E-hex}}ff
cF: &cF {{base0F-hex}}ff
